/*universal selector, targets entire application*/
* {
    /*sets the box sizing type for entire application*/
    box-sizing: border-box;
    /*sets font family for entire application*/
    font-family: 'Times New Roman', Times, serif;
}

/*sets custom variables*/
:root {
    /*sets main font color*/
    --mainfontcolor: #814cad;
    /*sets the backgroun color for main sections*/
    --infoboxes: #a3d4d1;
}

/*sets a background image to the full page and to repeat if needed*/
body, html {
    height: 100%;
    width: 100%;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/*targets header element*/
header {
    /*sets padding around header to 100px all directions*/
    padding: 100px;
    /*instructs contents of header to use flex display*/
    display: flex;
    /*extends instructions to flex display to put evenly space 
    the profile image and the nav, header*/
    justify-content: space-evenly;
    /*extends instructions to flex display to wrap items as
    the screen size changes*/
    flex-wrap: wrap;
}

/*targets profileimg class*/
.profileimg {
    /*sets max height for profile image*/
    max-height: 500px;    
    /*rounds the edges of profile image*/
    border-radius: 15px;
}

/*targets the nav element*/
nav {
    /*displays ul and h1 in a column*/
    display: column;    
}

/*targets ul in the header element*/
header ul {
    /*temoves margin at ul level that applied at header level
    and extends the bottom margin by 150px*/
    margin: 0px 0px 150px;
    /*removes padding at ul level that applied at header level*/
    padding: 0px;
    /*assigns flex display to ul content*/
    display: flex;
    /*evenly spaces display for ul*/
    justify-content: space-evenly;
}

/*targets the li element within the header*/
header li {
    /*places the list items in a line instead of a stack*/
    display: inline-block;
}

/*targets the li element within the header and adds a hover instruction*/
header a:hover {
    /*when curser hovers over nav item, it glows with a box-shadow*/
    box-shadow: 0 0 100px #5aa5a0;
    /*when curser hovers over nav item, it glows to match the box shadow*/
    background: rgba(90, 165, 160, 0.25);
}

/*targets the anchor element within the header*/
header a {
    /*removes underline from nav items*/
    text-decoration: none;
    /*sets nav item font size to 48px*/
    font-size: 48px;
    /*sets the nav item font color*/
    color: var(--mainfontcolor);
}

/*targets the h1 element*/
h1 {
    /*sets h1 font size*/
    font-size: 73px;
    /*sets h1 font color*/
    color: var(--mainfontcolor);
}

/*targets the main element*/
main {
    /*sets a gap of 1px between each column*/
    padding: 0px 100px;
}

/*targets the article element*/
article {
    /*sets display to flex*/
    display: flex;
    /*sets flex display to wrap contents*/
    flex-wrap: wrap;
    /*sets padding to 50px on the sides*/
    padding: 0px 50px;
    /*creates a 10px gap between each article up/down*/
    row-gap: 10px;
    /*creates a 10px gap between each article left/right*/
    column-gap: 10px;    
}

/*targets section element*/
section {
    /*links to flex display in article element
    fits items across page width-wise*/
    flex: 4;
}

/*targets the info class*/
.info {    
    /*sets font size for info class*/
    font-size: 18px;    
    /*gives info class rounded corners*/
    border-radius: 15px;
    /*assigns background color to class*/
    background-color: var(--infoboxes);
    /*expands on flex instructions in parent elemnts*/
    flex: 1 1 49%;
    position: relative;
}

/*targets the h2 element*/
h2 {
    /*sets the font-size*/
    font-size: 48px;
    /*sets text alignment*/
    text-align: center;
    /*sets margin for h2 items*/
    margin: 10px 30px;
    /*sets h2 color to purple*/
    color: var(--mainfontcolor);
}

/*targets ul element in the main element*/
main ul {
    /*removes padding around ul element*/
    padding: 0px;
    /*sets ul display to flex*/
    display: flex;
    /*makes contact links evenly spaced*/
    justify-content: space-evenly;
}

/*targets the li element within the main element*/
main li {
    /*displays contact link in line*/
    display: inline-block;
    /*increases padding between contact links and h2*/
    padding-top: 50px;
}

/*targets the anchor element within the main element*/
main a {
    /*removes underlying of contact items*/
    text-decoration: none;
    /*sets contact item link font size*/
    font-size: 24px;
    /*sets link color to black*/
    color: #000;
}

/*targets the p element*/
p {
    /*wraps text within the paragraph*/
    text-wrap: wrap;
    /*sets a margin of 15px top/bottom and 
    a margin of 30px left/right between
    each paragraph*/
    margin: 15px 30px;
}

/*targets the image in my work class*/
article img {
    /*sets max width of image to 80% of the article container*/
    max-width: 80%;
    /*sets margin to auto*/
    margin: auto;
    /*instructs items to display in block*/
    display: block;
    /*rounds image edges by 15px*/
    border-radius: 15px;
    /*sets a 25px margin below the image*/
    margin-bottom: 25px;    
}

/*targets the mywork class*/
.mywork {
    /*sets the title box over the refactor image*/
    position: relative;
}

/*targets the overlay class*/
.overlay {
    /*sets the overlay position*/
    position: absolute; 
    /*ties position to the bottom of the section*/
    bottom: 0; 
    /*sets background color*/
    background: rgb(163, 212, 209);
    /*makes background green translucent*/
    background: rgba(163, 212, 209, 0.5);
    /*sets overlay width to full width of box*/
    width: 100%;
    /*sets overlay transition speed*/
    transition: .5s ease;
    /*makes overlay transparent until hover psuedo-class*/
    opacity:0;
    /*sets 30px padding around text*/
    padding: 30px;
    /*aligns text center*/
    text-align: center;
}

/*targets the anchor element within the overlay class*/
.overlay a {
    /*sets overlay color to match header purple*/
    color: var(--mainfontcolor);
    /*sets font size*/
    font-size: 30px;
    /*sets font weight to make it appear stronger/bolder*/
    font-weight: 600;
}

/*targets the overlay clas in the mywork:hover pseudo-class*/
.mywork:hover .overlay {
    /*when curser hovers over the section, section becomes visible*/
    opacity: 1;
}


/*targets the footer element*/
footer {
    /*sets a 30px padding in all directions*/
    padding: 30px;
    /*aligns text ceter*/
    text-align: center;
}

/*media instructions for large screen*/
@media screen and (max-width: 1205px) {
    /* use flex-direction to stack the navbar, sidebar, and body */
    header {
        flex-direction: column;
    }

    /*centers profile image as screen size changes*/
    .profileimg {
        order: 1;
        max-width: 500px;
        padding: 0px;
        margin: 0px;
        align-self: center;
    }

    /*centers nav items and stacks below profile image*/    
    header nav {
        order: 2;
        margin-top: 50px;
        padding: 0px;
        align-self: center;
    }

    /*centers nav items and stacks below profile image*/
    header ul {
        display: block;
    }

    /*centers nav items and stacks below profile image*/
    header h1 {
        order: 3;
        margin: 0px;
        padding: 0px;
    }

    /*centers main items and stacks below profile image*/
    article {
        display: flex;
    }

    /*centers main items and stacks below profile image*/
    section {
        flex: 1;
    }

    /*centers main items and stacks below profile image*/
    .info {
        flex: 0 0 100%;
    }
}

/*media instructions for medium screen*/
@media screen and (max-width: 804px) {
    header {
        /*sets padding around header to 50px all directions*/
        padding: 50px;
        /*instructs contents of header to use flex display*/
        display: flex;
        /*extends instructions to flex display to put evenly space 
        the profile image and the nav, header*/
        justify-content: space-evenly;
        /*extends instructions to flex display to wrap items as
        the screen size changes*/
        flex-wrap: wrap;
    }

    /*reduces size of profile image as screen shrinks*/
    .profileimg {
        order: 1;
        max-width: 400px;
        padding: 0px;
        margin: 0px;
        align-self: center;
    }    

    /*centers nav items and stacks below profile image
    reduces padding around nav*/
    header nav {
        order: 2;
        margin: 0px;
        padding: 40px 0px;
        display: column;     
    }

    /*targets ul in the header element*/
    header ul {
        margin: 0px 0px 55px;
        /*assigns flex display to ul content*/
        display: flex;
        /*evenly spaces display for ul*/
        justify-content: space-evenly;
    }

    /*targets the li element within the header*/
    header li {
        /*places the list items in a line instead of a stack*/
        display: block;
    }

    /*reduces font size as screen size shrinks*/
    header a {
        font-size: 35px;      
    }

    /*reduces font size as screen size shrinks*/
    header h1 {
        order: 3;
        font-size: 48px;
        margin: 0px;
        padding: 0px;
    }

    /*targets article element within the main section and makes the items
    appear in a column as the screen size shrinks*/
    article {
        display: flex;
    }

    /*targets article element within the main section and makes the items
    appear in a column as the screen size shrinks*/
    section {
        flex: 1;
    }

    /*reduces the padding for the li elements*/
    main li {
        padding: 15px 0px 0px;
    }

    /*reduces font size for the contact me elements*/
    main a {
        font-size: 18px;
    }

    /*reduces font size for the h2 elements*/
    h2 {
        font-size: 30px;
    }

    /*reduces font size in the info class*/
    .info {
        flex: 0 0 100%;
        font-size: 14px;
        line-height: 18px;
    }

    /*Centers the h2 element in the footer and reduces font size*/
    footer h2{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    }
}

/*media instructions for small screen*/
@media screen and (max-width: 530px) {
    header {
        /*sets padding around header to 50px all directions*/
        padding: 50px;
        /*instructs contents of header to use flex display*/
        display: flex;
        /*extends instructions to flex display to put evenly space 
        the profile image and the nav, header*/
        display: center;
        /*extends instructions to flex display to wrap items as
        the screen size changes*/        
    }

    /*reduces profile image size as screen size shrinks*/
    .profileimg {
        order: 1;
        max-width: 250px;
        padding: 0px;
        margin: 0px;
    }    

    /*centers nav items and stacks below profile image
    reduces padding around nav*/
    header nav {
        order: 2;
        margin: 0px;
        padding: 40px 0px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;     
    }

    /*targets ul in the header element*/
    header ul {
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 40px;
    }

    /*reduces font size for nav links and changes the font color to white*/
    header a {
        color: white;
        font-size: 35px;      
    }

    /*centers nav items and stacks below profile image
    reduces font size for header*/
    header h1 {
        text-align: center;
        font-size: 48px;
        margin: 0;
        padding: 0px;
    }

    /*targets the main element and reduces padding left/right*/
    main {
        padding: 0px 50px 0px;
    }

    /*reduces padding in the article element*/
    article {
       padding: 0px;
    }

    /*reduces font size for the contact me elements*/
    main a {
        font-size: 14px;
    }

    /*reduces font size for main headers*/
    h2 {
        font-size: 25px;
    }

    /*reduces font size for the info class 
    but inclreases line height to aid visibility*/
    .info {
        flex: 0 0 100%;
        font-size: 12px;
        line-height: 14px;
    }

    /*centers the h2 element in the footer and reduces font size*/
    footer h2{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    }
}
  